{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#tag}}
            <section class="taxonomy">
                {{#if feature_image}}
                    <div class="taxonomy-media u-placeholder square">
                        <img class="u-object-fit" src="{{img_url feature_image size="s"}}" alt="{{name}}">
                    </div>
                {{/if}}

                <header class="single-header kg-canvas">
                    <h1 class="single-title">{{name}}</h1>

                    {{#if description}}
                        <div class="single-excerpt">{{description}}</div>
                    {{/if}}
                </header>

            </section>
        {{/tag}}

        <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} container medium">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>

        {{pagination}}
        
        {{#tag}}
            <div class="single-header kg-canvas">
                {{#get "tags" limit="all" filter="id:-{{id}}+visibility:public" as |tags|}}
                    {{#if tags}}
                        <div class="tag-list">
                            <span class="tag-list-label">More:</span>
                            {{#foreach tags}}
                                <a class="tag-list-item" href="{{url}}">{{name}}</a>
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            </div>
        {{/tag}}

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}